*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body{
  background: #1a1a1a;
}

#root{
  width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: purple 1px solid;
  border-radius: 30px;
  overflow: hidden;
  color: whitesmoke;
}
